@import "scss/main";

.reviews-section {
  align-items: center;
  background-color: #F7F9FC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 11rem;
  position: relative;
  width: 100%;

  @include respond(sSize) {
    padding-top: 4rem;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 115rem;
    padding: 0 3rem;
    position: relative;
    width: 100%;
  }

  &__carousel {
    padding: 1.5rem 0;
    max-width: 100%;

    @include respond(xsSize) {
      padding: 3rem 0;
    }
  }

  &__carousel-dots {
    display: flex !important;
    justify-content: center;
    list-style-type: none;
    margin-top: 5.5rem;

    li {
      background-color: rgba(grey, .25);
      border-radius: 50%;
      cursor: pointer;
      height: 1rem;
      margin: 0 .5rem;
      width: 1rem;

      &:hover {
        background-color: grey;
      }

      button {
        background-color: transparent;
        border: none;
        color: transparent;
        height: 1.1rem;
        width: 1.1rem;

        &:focus {
          outline: none;
        }
      }
    }
  }

  &__title {
    align-items: center;
    color: $color-black-text;
    display: flex;
    flex-wrap: wrap;
    font-size: 4.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.1;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
  }

  &__title-subtext {
    color: $color-black-text;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 5rem;
    max-width: 100%;
    text-align: center;
    width: 75rem;

    @include respond(xsSize) {
      margin-bottom: 1rem;
    }
  }

  &__title-highlighted-phrase {
    color: $color-primary-green;
  }

  &__review-shape-wrapper {
    position: absolute;
    right: -6rem;
    top: 15rem;
  }

  &__divider {
    background-color: $color-black-footer;
    height: 6vw;
    margin-top: calc(12rem - 5vw);
    mask-image: url("data:image/svg+xml;utf8,%3csvg viewBox='0 0 100 100' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3e%3cpath d='M0,0 C16.6666667,66 33.3333333,98 50,98 C66.6666667,98 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z' fill='%23fff'/%3e%3c/svg%3e");
    position: relative;
    top: .1rem;
    width: 100%;
  }
}
