@import "scss/main";

.form-input {
  display: flex;
  flex-direction: column;
  position: relative;

  &__input-field {
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: .4rem;
    color: $color-black-text;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    padding: 1.1rem 5rem 1.1rem 1.5rem;
    -webkit-appearance: none;

    &--clear-not-visible {
      padding-right: 1.5rem;
    }

    &:-webkit-autofill::first-line {
      font-size: 1.6rem;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 3rem $color-white inset !important;
    }

    &:focus {
      box-shadow: .2rem 0 .5rem rgb(81, 203, 238);
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba($color-black, .3);
      opacity: 1; /* Firefox */
    }

    &:invalid {
      box-shadow: none;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: rgba($color-black, .3);
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: rgba($color-black, .3);
    }
  }

  &__label {
    color: $color-black-text;
    font-size:  1.6rem;
    font-weight: 600;
    margin-bottom: .8rem;
  }

  &__icon {
    height: 2rem;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 2rem;

    &--leading-icon {
      left: 2rem;
    }

    &--clear-icon {
      cursor: pointer;
      fill: rgba($color-black, .2);
      height: 1.2rem;
      right: 2rem;
      transition: .15s;
      width: 1.2rem;

      &:hover {
        fill: $color-black-text;
      }
    }
  }
}