
@mixin brk-point($breakpoint) {
  @media(max-width: $breakpoint) {
    @content;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == xsSize {
    @media only screen and (max-width: 640px) { @content };
  }
  @if $breakpoint == sSize {
    @media only screen and (max-width: 960px) { @content };
  }
  @if $breakpoint == mSize {
    @media only screen and (max-width: 1200px) { @content };
  }
  @if $breakpoint == lSize {
    @media only screen and (max-width: 1400px) { @content };
  }
  @if $breakpoint == xlSize {
    @media only screen and (max-width: 1600px) { @content };
  }
}