$color-primary-green: #009b72;
$color-primary-green-darker: #007556;
$color-primary-green-darker-2: #00684c;
$color-primary-yellow: #ffc107;

$color-secondary: #ff6b0f;
$color-secondary-darken: #e85900;

$color-violet: #6a26da;

$color-primary-gray: #F7F9FC;
$color-text-gray: rgb(124, 128, 135);
$color-light-gray-1: #fafafa;
$color-light-gray-2: #f1f1f1;
$color-darker-gray: #7e8085;

$color-white: #fff;
$color-black: #000;
$color-black-footer: #192d35;
$color-black-alternative: rgb(59, 65, 68);
$color-black-text: #2c3038;
$color-black-gray: #54565a;

$color-error-red: #FF2864;

$font-size-xs: 1.2rem;
$font-size-regular: 1.58rem;
$font-size-m: 1.65rem;
$font-size-l: 3.2rem;

//#009b72
