@import "scss/main";

.button {
  border: .1rem solid transparent;
  border-radius: .5rem;
  cursor: pointer;
  color: $color-black;
  font-size: 1.6rem;
  font-weight: 700;
  padding: .5rem 3rem;
  transition: .15s;
  text-decoration: none;

  &:hover {
    color: $color-black;
  }

  &:focus {
    box-shadow: .2rem 0 .5rem rgb(81, 203, 238);
  }

  &:disabled {
    background-color: rgba($color-black, 0.3);
    cursor: default;

    &:hover {
      background-color: rgba($color-black, 0.3);
    }
  }
};