@import "scss/main";

.instructions-step {
  display: flex;
  justify-content: center;
  min-height: 17rem;
  position: relative;

  @include respond(xsSize) {
    justify-content: flex-start;
  }

  &:last-child {
    background-color: $color-white;
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__text {
    left: 0;
    position: absolute;
    text-align: right;
    width: calc(50% - 10rem);

    @include respond(xsSize) {
      left: 10rem;
      text-align: left;
      width: calc(100% - 7.6rem);
    }

    &--right {
      left: auto;
      right: 0;
      text-align: left;

      @include respond(xsSize) {
        left: 10rem;
        text-align: left;
        width: calc(100% - 7.6rem);
      }
    }
  }

  &__title {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;

    @include respond(sSize) {
      font-size: 1.8rem;
    }
  }

  &__paragraph {
    font-size: 1.6rem;
  }

  &__number {
    align-items: center;
    background-color: $color-primary-green;
    border: .4rem solid $color-primary-green-darker;
    border-radius: 50%;
    color: $color-white;
    display: flex;
    font-size: 5rem;
    justify-content: center;
    height: 7.6rem;
    width: 7.6rem;
  }
}