@import "scss/main";

.how-it-works-instructions {
  color: $color-black-text;
  list-style: none;
  position: relative;

  &::before {
    background-color: rgba($color-black, .15);
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    width: .2rem;

    @include respond(xsSize) {
      left: 3.8rem;
    }
  }
}