@import "scss/main";

.benefits-section {
  background-color: $color-primary-gray;
  display: flex;
  justify-content: center;
  padding: 13rem 0;
  position: relative;
  overflow: hidden;
  width: 100%;

  @include respond(sSize) {
    padding: 4rem 0;
  }

  &__content-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 115rem;
    padding: 0 3rem;
    width: 100%;
  }

  &__title {
    align-items: center;
    color: $color-black-text;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 4.2rem;
    font-weight: 700;
    justify-content: flex-start;
    margin-bottom: 3.5rem;
    width: 100%;

    @include respond(xsSize) {
      justify-content: center;
      text-align: center;
    }
  }

  &__title-highlighted-phrase {
    color: $color-primary-green;
  }

  &__content {
    display: flex;
    position: relative;
    width: 100%;

    @include respond(sSize) {
      align-items: center;
      flex-direction: column;
    }
  }

  &__arrow-1-wrapper, &__arrow-2-wrapper {
    position: absolute;

    @include respond(sSize) {
      display: none;
    }
  }

  &__arrow-1-wrapper {
    left: 19%;
    top: 10%;

    @include respond(mSize) {
      left: 12%;
      top: 13%;
    }
  }

  &__arrow-2-wrapper {
    right: 25%;
    top: 27%;

    @include respond(mSize) {
      right: 30%;
      top: 28%;
    }
  }

  &__benefit-column {
    width: 33%;

    @include respond(sSize) {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    @include respond(xsSize) {
      width: 100%;
    }

    &:not(:last-child) {
      @include respond(sSize) {
        margin-bottom: 3rem;
      }
    }

    &--first {
      padding-left: 9.5rem;

      @include respond(mSize) {
        padding-left: 0;
      }

      @include respond(sSize) {
        padding: 0;
      }
    }

    &--second {
      padding-left: 10rem;
      padding-top: 8rem;

      @include respond(mSize) {
        padding-left: 4rem;
      }

      @include respond(sSize) {
        padding: 0;
      }
    }

    &--third {
      padding-left: 12rem;
      padding-top: 14.5rem;

      @include respond(mSize) {
        padding-left: 7.5rem;
        padding-top: 17rem;
      }

      @include respond(sSize) {
        padding: 0;
      }
    }
  }

  &__benefit-icon-wrapper {
    align-items: center;
    background-color: $color-primary-green;
    border-radius: 1rem;
    box-shadow: 0 32px 54px rgba($color-primary-green, 0.22);
    display: flex;
    height: 9.7rem;
    justify-content: center;
    margin-bottom: 3.5rem;
    width: 9.7rem;
  }

  &__benefit-icon {
    fill: $color-white;
    width: 4.6rem;
  }

  &__benefit-title {
    color: $color-black-text;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }

  &__benefit-text {
    color: $color-text-gray;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75;

    @include respond(sSize) {
      text-align: center;
    }
  }
}