@import "scss/main";

.layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
  }
}