@import "scss/main";

.burger-navigation-link {
  border-bottom: .1rem solid rgba($color-black, .1);
  font-size: 1.6rem;
  line-height: 3;
  position: relative;

  &__expand-link {
    align-items: center;
    color: $color-black;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  &__expand-icon {
    fill: $color-black;
    height: 1.8rem;
    margin-right: 1rem;
    width: 1.4rem;

    &--expanded {
      transform: rotate(90deg);
    }
  }

  &__subpages-container {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;

    &--expanded {
      height: auto;
    }
  }

  &__subpage-link {
    color: $color-black;
    padding: 0 2.5rem;
  }
}