@import "scss/main";

.navbar {
  $_this: &;

  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 8rem;
  position: fixed;
  top: 0;
  transition: .4s;
  z-index: 2;
  width: 100%;

  @include respond(sSize) {
    height: 6.4rem;
  }

  &--dark {
    background-color: $color-white;
    box-shadow: 0 1.2rem 3.4rem -1.1rem rgba(65, 62, 101, 0.1);

    #{$_this}__toggle-burger-icon {
      background-color: $color-black;

      &:before {
        background-color: $color-black;
      }

      &:after {
        background-color: $color-black;
      }

      &--close {
        background-color: transparent;
      }
    }
  }

  &--box-shadow {
    box-shadow: 0 .1rem 1rem -.1rem rgba($color-black, .12);
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 115rem;
    padding: 0 3rem;
    width: 100%;

    @include respond(sSize) {
      padding: 0.8rem 2rem;
    }
  }

  &__left {
    align-items: center;
    display: flex;
  }

  &__right {
    display: flex;
  }

  &__logo {
    margin-right: 7rem;

    @include respond(sSize) {
      margin-right: 0;
    }
  }

  &__toggle-burger {
    display: none;
    align-items: center;
    cursor: pointer;

    @include respond(sSize) {
      display: flex;
    }
  }

  &__toggle-burger-icon {
    background-color: $color-white;
    height: .3rem;
    position: relative;
    width: 2.8rem;

    &:before {
      background-color: $color-white;
      content: "";
      height: 100%;
      position: absolute;
      top: -1rem;
      width: 100%;
    }

    &:after {
      background-color: $color-white;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 1rem;
      width: 100%;
    }

    &--close {
      background-color: transparent;

      &:before {
        top: 0;
        transform: rotate(135deg);
      }

      &:after {
        top: 0;
        transform: rotate(-135deg);
      }
    }
  }

  &__burger-navigation {
    box-shadow: 0 0.4rem 1.2rem -0.1rem rgba($color-black, 0.15);
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 6.4rem;
    width: 100%;
    z-index: 2;

    &--open {
      height: auto;
    }
  }

  &__action-button-wrapper {
    @include respond(sSize) {
      display: none;
    }
  }

  &__action-button-link {
    @include respond(sSize) {
      width: 100%;
    }
  }

  &__action-button {
    align-items: center;
    background-color: $color-primary-green;
    border: .2rem solid transparent;
    border-radius: 10rem;
    color: $color-white;
    display: flex;
    font-weight: 700;
    padding: 1rem 2.4rem;

    &:hover {
      background-color: $color-primary-green-darker;
      color: $color-white;
    }
  }
}