@import "scss/main";

.login-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 5rem 6rem 3.5rem 6rem;
  width: 65rem;

  @include respond(sSize) {
    padding: 3rem;
  }

  &__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 40rem;
  }

  &__header {
    margin-bottom: 3.5rem;
  }

  &__title {
    color: $color-black-text;
    font-size: 4.6rem;
    font-weight: 700;
    text-align: center;

    @include respond(sSize) {
      font-size: 3.4rem;
    }
  }

  &__input-container {
    margin-bottom: 2rem;
    width: 100%;
  }

  &__input-icon {
    fill: rgba($color-black, .5);
    height: 2rem;
    width: 2rem;
  }

  &__login-button {
    background-color: $color-primary-green;
    color: $color-white;
    height: 4.5rem;
    margin-bottom: 2rem;
    width: 100%;

    &:hover {
      color: $color-white;
    }
  }

  &__error-box {
    background-color: rgba($color-error-red, 0.2);
    border: .1rem solid $color-error-red;
    border-radius: .5rem;
    color: $color-error-red;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    padding: 1rem;
  }

  &__navigate-back {
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    text-decoration: underline;
  }
}