@import "scss/main";

.article {
  &__paragraph {
    border-bottom: .1rem dashed $color-darker-gray;
    color: $color-black-text;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  &__paragraph-title-wrapper {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;

    @include respond(xsSize) {
      flex-direction: column;
    }
  }

  &__paragraph-title {
    color: $color-black-text;
    flex: 1;
    font-size: 3rem;
    line-height: 1.2;
    text-align: left;

    @include respond(xsSize) {
      text-align: center;
    }
  }

  &__paragraph-text {
    text-indent: 1.5rem;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  &__paragraph-title-icon {
    fill: $color-primary-green;
    height: 5rem;
    margin-right: 2rem;
    width: 5rem;

    @include respond(xsSize) {
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }

  &__list {
    margin-top: 2rem;
    list-style: none;

    li {
      line-height: 1.6;
      margin-bottom: .5rem;
      margin-left: 3rem;
      padding-left: 2.1rem;
      position: relative;
      text-align: left;
      text-indent: 0;

      @include respond(xsSize) {
        margin-left: 2rem;
      }

      &:before {
        background-color: $color-darker-gray;
        content: "";
        height: .2rem;
        left: 0;
        position: absolute;
        top: 1.3rem;
        transform: translate(0, -50%);
        width: .9rem;
      }
    }
  }

  &__paragraph-part {
    margin-bottom: 1rem;
  }
}