@import "scss/main";

.main-nav {
  $_this: &;

  display: flex;
  height: 100%;

  @include respond(sSize) {
    display: none;
  }

  @include respond(xsSize) {
    display: none;
  }

  &--scrolling {
    #{$_this}__link-wrapper {
      &:hover {
        #{$_this}__link {
          color: rgba($color-black, .7);
        }
      }
    }

    #{$_this}__link {
      color: rgba($color-black, .5);

      &--with-dropdown {
        &:after {
          background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.376 11.584C14.6728 11.7819 14.6728 12.2181 14.376 12.416L9.77735 15.4818C9.44507 15.7033 9 15.4651 9 15.0657L9 8.93426C9 8.53491 9.44507 8.29671 9.77735 8.51823L14.376 11.584Z' fill='%232C3038'/%3e%3c/svg%3e");
        }
      }
    }
  }

  &__link-wrapper {
    display: flex;
    margin: 0 1.4rem;
    position: relative;

    @include respond(mSize) {
      margin: 0;
    }

    &:hover {
      #{$_this}__submenu {
        opacity: 1;
        visibility: visible;
      }

      #{$_this}__dropdown-menu-icon {
        transform: rotate(-90deg);
      }

      #{$_this}__link {
        color: rgba($color-white, .95);

        &--with-dropdown {
          &:after {
            opacity: .95;
          }
        }
      }
    }
  }

  &__link {
    align-items: center;
    color: rgba($color-white, .65);
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    padding: 0 1.5rem;
    transition: .2s;
    white-space: nowrap;

    &--with-dropdown {
      &:after {
        background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.376 11.584C14.6728 11.7819 14.6728 12.2181 14.376 12.416L9.77735 15.4818C9.44507 15.7033 9 15.4651 9 15.0657L9 8.93426C9 8.53491 9.44507 8.29671 9.77735 8.51823L14.376 11.584Z' fill='%23fff'/%3e%3c/svg%3e");
        content: "";
        height: 2.4rem;
        opacity: .25;
        transform: rotate(90deg);
        transition: .2s;
        width: 2.4rem;
      }
    }
  }

  &__submenu {
    background-color: $color-white;
    border-radius: .5rem;
    box-shadow: 0 .2rem 1.1rem rgba($color-black, .22);
    opacity: 0;
    position: absolute;
    top: 7rem;
    transition: .1s;
    visibility: hidden;
    z-index: 1;
  }

  &__submenu-content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    position: relative;

    &:before {
      content: "";
      height: 2rem;
      position: absolute;
      top: -.9rem;
      width: 100%;
    }

    &:after {
      border-bottom: .7rem solid $color-white;
      border-left: .7rem solid transparent;
      border-right: .7rem solid transparent;
      content: "";
      left: 30%;
      position: absolute;
      top: -.7rem;
      transform: translate(-50%, 0);
    }
  }

  &__submenu-link {
    color: rgba($color-black, .6);
    font-size: 1.6rem;
    line-height: 1.4;
    padding: 1rem 3rem;
    white-space: nowrap;

    &:hover {
      background-color: rgba($color-black, .2);
    }
  }
}