@import "scss/main";

.internal-page {
  display: flex;
  max-width: 115rem;
  padding: 12rem 3rem 3rem;
  width: 100%;

  @include respond(sSize) {
    align-items: center;
    flex-direction: column;
    padding: 8rem 2rem 0;
  }

  &__title {
    color: $color-black-text;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;

    @include respond(sSize) {
      width: 100%;
    }
  }

  &__main {
    flex: 1;
  }
}