@import "scss/main";

.hero {
  $_this: &;

  align-items: center;
  background: linear-gradient(to right,#009b72,#046865);
  display: flex;
  flex-direction: column;
  padding-top: 12rem;
  position: relative;
  width: 100%;

  @include respond(sSize) {
    padding-top: 6rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 115rem;
    padding: 6rem 3rem;
    width: 100%;
    z-index: 1;

    @include respond(sSize) {
      align-items: center;
      flex-direction: column;
      padding: 2rem 2rem 0;
    }
  }

  &__title {
    color: $color-white;
    display: flex;
    flex-direction: column;
    font-size: 4.6rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.2;
    margin-bottom: 2.4rem;
    max-width: 100%;
    width: 70rem;

    @include respond(sSize) {
      font-size: 3.4rem;
      margin-bottom: 2rem;
      margin-left: 0;
      text-align: center;
      width: 100%;
    }
  }

  &__form-wrapper, &__text-wrapper {
    width: 44%;

    @include respond(sSize) {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }

  &__text-wrapper {
    @include respond(sSize) {
      width: 65%;
    }

    @include respond(xsSize) {
      width: 100%;
    }
  }

  &__form-wrapper {
    @include respond(sSize) {
      width: 85%;
    }

    @include respond(xsSize) {
      width: 100%;
    }
  }

  &__text {
    color: $color-white;
    font-size: 2rem;
    margin-bottom: 3.2rem;

    @include respond(sSize) {
      font-size: 1.6rem;
      text-align: center;
    }
  }

  &__divider {
    background-color: $color-primary-gray;
    height: 6vw;
    margin-top: calc(12rem - 5vw);
    mask-image: url("data:image/svg+xml;utf8,%3csvg viewBox='0 0 100 100' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3e%3cpath d='M0,0 C16.6666667,66 33.3333333,98 50,98 C66.6666667,98 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z' fill='%23fff'/%3e%3c/svg%3e");
    position: relative;
    top: .1rem;
    width: 100%;
  }

  &__blob-wrapper {
    bottom: 0;
    height: 50%;
    position: absolute;
    right: 0;
    width: 50%;
  }

  &__blob {
    background-color: $color-white;
    bottom: 0;
    height: 100%;
    mask-image: url("/img/blob-3.svg");
    mask-size: 100% 100%;
    opacity: .1;
    position: absolute;
    right: -5vw;
    transform: scale(3);
    width: 100%;
  }

  &__benefit {
    align-items: center;
    background-color: $color-white;
    border-radius: .5rem;
    color: $color-black-text;
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
    max-width: 100%;
    padding: .8rem 4.8rem .8rem 2.4rem;
    width: 32rem;

    @include respond(sSize) {
      &:last-child {
        margin-bottom: 3.2rem;
      }
    }
  }

  &__benefit-icon {
    height: 4.8rem;
    margin-right: 1.6rem;

    &--euro {
      fill: $color-primary-green;
      padding: .5rem;
    }
  }
}