@import "scss/main";

.contact-form {
  $_this: &;

  border-radius: .4rem;
  color: $color-black-text;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;

  @include respond(xsSize) {
    align-items: center;
  }

  &__title {
    display: flex;
    flex-direction: column;
    font-size: 3.2rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  &__title-subtext {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  &__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__inputs-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include respond(xsSize) {
      flex-direction: column;
    }
  }

  &__contacts-inputs-wrapper, &__message-wrapper {
    width: calc(50% - 1rem);

    @include respond(xsSize) {
      width: 100%;
    }
  }

  &__message-wrapper {
    @include respond(xsSize) {
      margin-top: 2rem;
    }
  }

  &__input-container {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &--textarea {
      height: 100%;
      margin-bottom: 0;
    }
  }

  #{$_this}__input {
    background-color: rgba($color-black, .08);
    border: none;
    border-radius: 1rem;
    padding: 1.6rem 2.6rem 1.6rem 1.5rem;

    &--textarea {
      height: 100%;
      min-height: 12rem;
      resize: none;
    }
  }

  #{$_this}__form-submit-button {
    background-color: $color-primary-green;
    border-radius: 10rem;
    color: $color-white;
    font-weight: 600;
    margin-top: 5rem;
    padding: 1.3rem 3.2rem;
    width: 22rem;

    &:hover {
      background-color: $color-primary-green-darker;
      color: $color-white;
    }
  }
}