@import "scss/main";

.benefits-section {
  align-items: center;
  background-color: $color-primary-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 13rem 0 17rem;
  overflow: hidden;
  width: 100%;

  @include respond(sSize) {
    padding: 4rem 0;
  }

  &__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 115rem;
    padding: 0 3rem;
    width: 100%;

    @include respond(sSize) {
      align-items: center;
      flex-direction: column-reverse;
    }

    &--reverse {
      flex-direction: row-reverse;

      @include respond(sSize) {
        flex-direction: column-reverse;
      }
    }
  }

  &__images-column, &__text-column {
    width: 50%;

    @include respond(sSize) {
      max-width: 50rem;
      width: auto;
    }
  }

  &__images-column {
    position: relative;

    @include respond(xsSize) {
      display: flex;
      justify-content: center;
    }
  }

  &__images-wrapper {
    left: 0;
    position: absolute;

    @include respond(sSize) {
      display: flex;
      justify-content: center;
      margin-top: 8rem;
      position: relative;
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  &__text-wrapper {
    margin-top: 17rem;
    max-width: 100%;
    width: 40rem;

    @include respond(sSize) {
      margin-top: 0;
      width: 100%;
    }
  }

  &__title {
    color: $color-black-text;
    font-size: 4.2rem;
    font-weight: 700;
    margin-bottom: 3rem;

    @include respond(sSize) {
      text-align: center;
    }
  }

  &__text {
    color: $color-text-gray;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;

    @include respond(sSize) {
      text-align: center;
    }
  }
}