@import "scss/main";

.form-select {
  position: relative;

  &__icon {
    height: 2rem;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 2rem;
    z-index: 1;

    &--leading-icon {
      left: 2rem;
    }
  }

  &__hidden-input {
    opacity: 0;
    height: 0;
    position: absolute;
  }

  &__label {
    color: $color-black-text;
    font-size:  1.6rem;
    font-weight: 600;
    margin-bottom: .8rem;
  }
}