@import "scss/main";

.login-screen {
  align-items: center;
  background-color: $color-primary-gray;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  &__content {
    align-items: center;
    display: flex;
    height: 100%;
    max-width: 100%;
  }

  &__logo {
    margin-top: 4rem;

    @include respond(sSize) {
      margin-top: 2rem;
    }
  }
}