@import "scss/main";

.footer {
  background-color: $color-black-footer;
  display: flex;
  justify-content: center;
  padding: 12rem 0 2.4rem;
  width: 100%;

  &__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 115rem;
    padding: 0 3rem;
    width: 100%;
  }

  &__main {
    align-items: flex-start;
    display: flex;
    margin-bottom: 9.6rem;
    width: 100%;

    @include respond(xsSize) {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__main-left {
    align-items: flex-start;
    display: flex;
    flex: 2;

    @include respond(xsSize) {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 2.4rem;
      width: 100%;
    }
  }

  &__main-right {
    align-items: center;
    color: $color-black-alternative;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 1.6rem;
    justify-content: center;
    line-height: 1.8;

    @include respond(xsSize) {
      border-bottom: .1rem solid rgba($color-black, .1);
      border-top: .1rem solid rgba($color-black, .1);
      padding: 3.2rem 0;
      width: 100%;
    }
  }

  &__links-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 21rem;
  }

  &__links-wrapper-title {
    color: $color-white;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.8;
    margin-bottom: 1.6rem;
  }

  &__main-link {
    align-self: flex-start;
    color: rgba($color-white, .7);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.8;
    margin-bottom: 1rem;
    max-width: 100%;
    margin-right: 2rem;
    transition: .1s color ease;

    @include respond(xsSize) {
      margin-right: 0;
    }

    &:hover {
      color: rgba($color-white, 1);
    }
  }

  &__bottom {
    border-top: .1rem solid rgba($color-white, .1);
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    line-height: 1.7;
    padding-top: 2.4rem;
    width: 100%;
  }

  &__bottom-copyright {
    color: rgba($color-white, .5);

    @include respond(xsSize) {
      width: 50%;
    }
  }

  &__follow-us-text {
    color: $color-white;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.8;
    margin-bottom: 1.6rem;
  }

  &__social-media-icons {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding-bottom: 2.5rem;

    @include respond(xsSize) {
      padding-bottom: 0;
    }
  }

  &__social-media-icon-wrapper {
    &:not(:last-child) {
      margin-right: 2.5rem;
    }
  }

  &__social-media-icon {
    fill: rgba($color-white, .5);
    height: 1.8rem;
    width: 1.8rem;

    &:hover {
      fill: $color-white;
    }
  }

  &__contacts-link-wrapper {
    border-top: .1rem solid rgba($color-black, .1);
    color: rgba($color-white, .5);
    padding: 2.5rem 2rem 0;

    @include respond(sSize) {
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    @include respond(xsSize) {
      flex-direction: row;
      margin-top: 2.4rem;
      padding: 0;
      border: none;
    }
  }

  &__phone-number {
    color: rgba($color-white, .5);
    margin-right: 2.5rem;

    @include respond(sSize) {
      margin-right: 0;
    }

    @include respond(xsSize) {
      margin-right: 2.5rem;
    }
  }
}