@import "scss/main";

.back-home-link {
  $_this: &;

  display: flex;
  margin-left: .5rem;
  margin-top: 4rem;

  @include respond(sSize) {
    justify-content: center;
    margin: 2rem 0 2rem .5rem;
  }

  &__link {
    color: $color-primary-green-darker;
    font-size: 1.6rem;
    font-weight: 600;
    transition: .2s;

    &:hover {
      color: $color-primary-green-darker;

      #{$_this}__icon {
        transform: translateX(-.5rem) rotate(180deg);
      }
    }
  }

  &__icon {
    fill: $color-darker-gray;
    margin-right: .5rem;
    transform: rotate(180deg);
    transition: .2s;
    width: 1.1rem;
  }
}