@import "scss/main";

.burger-navigation {
  background-color: $color-white;
  border-top: .1rem solid rgba($color-black, 0.1);
  display: none;
  list-style: none;
  padding: 0 2rem 2rem;
  width: 100%;

  @include respond(sSize) {
    display: block;
  }

  &__action-button-link {
    width: 100%;
  }

  &__action-button {
    align-items: center;
    background-color: $color-white;
    border: .2rem solid $color-primary-green;
    color: $color-primary-green;
    display: flex;
    font-weight: 600;
    height: 5rem;
    margin-top: 2rem;
    padding: 1rem 2rem;

    &:hover {
      background-color: $color-white;
      color: $color-primary-green;
    }
  }

  &__action-button-icon {
    fill: $color-primary-green;
    margin-right: 1rem;
    width: 1.4rem;
  }
}