@import "scss/main";

.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  &__scroll-back-icon-wrapper {
    align-items: center;
    background-color: rgba($color-primary-green, .6);
    border-radius: 50%;
    bottom: 2rem;
    display: flex;
    height: 4.8rem;
    justify-content: center;
    position: fixed;
    right: 3rem;
    transform: rotate(-90deg);
    transition: .2s;
    width: 4.8rem;

    &:hover {
      background-color: $color-primary-green;
    }
  }

  &__scroll-back-icon {
    fill: $color-white;
    height: 2rem;
    width: 1.8rem;
  }
}