@import "scss/main";

.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 65vh;
  justify-content: center;
  padding: 10rem 5rem;
  width: 100%;

  &__title {
    color: $color-black-alternative;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__title-main {
    font-size: 3.2rem;
  }

  &__action-button {
    background-color: $color-primary-green;
    padding: 1.2rem 3rem;
  }

  &__action-button-link {
    color: $color-white;
    font-weight: 600;

    &:hover {
      color: $color-white;
    }
  }
}