@import "scss/main";

.home {
  &__sub-image-wrapper {
    position: absolute;

    &--benefit-1 {
      left: -10%;
      top: -4rem;
    }

    &--benefit-2 {
      left: -20%;
      top: 50%;
      transform: translate(0, -50%);
    }

    &--benefit-3 {
      right: -5%;
      top: -5%;
    }
  }
}