@import "scss/main";

html {
  color: $color-black-text;
  font-size: 10px;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  min-width: 35rem;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.Toastify {
  $_this: &;

  #{$_this}__toast {
    background: transparent;
    box-shadow: 0 .3rem .8rem rgba($color-black, 0.175);
    padding: 0;

    @include respond(xsSize) {
      flex-direction: column;
    }
  }

  #{$_this}__toast-container {
    max-width: 100%;
    width: auto;

    @include respond(xsSize) {
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  #{$_this}__toast-body {
    max-width: 100%;
  }
}

li.slick-active {
  background-color: #000 !important;
}

.ecwid-popup {
  position: fixed !important;
  top: 3rem !important;

  .ecwid-ProductBrowserPopup-content {
    max-height: calc(100vh - 9.8rem) !important;
  }

  .ecwid-popup-content, .ec-cart-step__wrap {
    padding-bottom: 0 !important;
  }

  .ec-cart-item__count,
  .ec-cart-shopping__wrap {
    display: none;
  }

  .ec-cart__sidebar-inner {
    top: 0 !important;
  }
}