@import "scss/main";

.offers-request-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @include respond(sSize) {
    align-items: center;
  }

  &__form {
    background-color: $color-white;
    border-radius: .5rem;
    box-shadow: 0 .75rem 1.5rem rgba($color-black, .09);
    max-width: 100%;
    padding: 3.6rem;
    width: 45rem;

    @include respond(sSize) {
      padding: 2rem;
    }
  }

  &__input-container {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }

  &__service-icon, &__form-filled-icon, &__email-icon {
    fill: rgba($color-black, .5);
  }

  &__phone-icon {
    stroke: rgba($color-black, .5);
  }

  &__privacy-agreement {
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
  }

  &__privacy-agreement-link {
    text-decoration: underline;
  }

  &__action-button {
    background-color: $color-primary-green;
    border-radius: 10rem;
    color: $color-white;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 1rem;
    padding: 1rem 2.4rem;
    width: 100%;

    &:hover {
      background-color: $color-primary-green;
      color: $color-white;
    }
  }
}