@import "scss/main";

.slide {
  align-items: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  outline: none;
  padding: 4rem 4.5rem 3.5rem 4rem;

  @include respond(sSize) {
    padding: 3.5rem 4rem 3rem 3.5rem;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__review-rating {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 3.5rem;
  }

  &__review-date {
    color: $color-black-text;
    font-size: 1.4rem;
    font-style: italic;
    margin-top: 1rem;
  }

  &__review-text {
    color: $color-black-text;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 5rem;
    min-height: 8rem;

    @include respond(xsSize) {
      font-size: 1.6rem;
    }
  }

  &__reviewer-name {
    color: $color-black-text;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
  }

  &__reviewer-service, &__reviewer-city {
    color: $color-black-text;
    font-size: 1.4rem;
  }
}
