@import "scss/main";

.info-boxes {
  border: .1rem solid rgba($color-black, .2);
  border-radius: .4rem;
  color: $color-black-text;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;

  @include respond(xsSize) {
    margin-bottom: 1rem;
  }

  &__boxes-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 0;
    width: 100%;

    @include respond(xsSize) {
      padding: 2rem 3rem;
    }
  }

  &__other-details-boxes-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    position: relative;

    &:before {
      background-color: rgba($color-black, .2);
      content: "";
      height: .1rem;
      justify-content: space-between;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translate(-50%, 0);
      width: calc(100% - 6rem);
    }
  }

  &__other-details-box {
    width: 50%;

    @include respond(xsSize) {
      width: 100%;
    }

    &:first-child {
      padding-right: 3rem;

      @include respond(xsSize) {
        padding: 0 0 2rem;
      }
    }
  }

  &__other-details-box-title {
    font-size: 1.9rem;
    margin-bottom: 1rem;
  }

  &__details-list {
    font-size: 1.6rem;
    list-style: none;
  }

  &__details-list-row {
    flex-wrap: wrap;
    margin-bottom: .5rem;

    span {
      white-space: nowrap;
    }
  }

  &__box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 12rem;
    width: calc(33.3% - 2rem);

    @include respond(xsSize) {
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
    }

    &:not(:last-child) {
      @include respond(xsSize) {
        margin-bottom: 2rem;
      }
    }
  }

  &__box-icon {
    fill: $color-primary-green;
    stroke-width: 0.2rem;
    width: 3.5rem;

    @include respond(xsSize) {
      margin-right: 2rem;
    }

    &--phone {
      fill: none;
      stroke: $color-primary-green;
      stroke-width: .15rem;
    }
  }

  &__box-text {
    font-size: 1.6rem;
    margin-top: 1.5rem;
    text-align: center;

    @include respond(xsSize) {
      align-items: center;
      display: flex;
      margin-top: 0;
    }
  }
}